<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css"
  </head>
  <body>
    <header></header>
    <main class="main-form">
      <form class="login-form" action="/register" method="POST">
        <input
          name="username"
          type="text"
          required
          class="login-form__username"
          placeholder="username"
        />
        <input
          name="password"
          type="password"
          required
          class="login-form__password"
          placeholder="password"
        />
        <input
          name="password"
          type="password"
          required
          class="login-form__password"
          placeholder="confirm password"
        />
        <button type="submit" class="login-form__submit">Register</button>
      </form>
    </main>
  </body>
</html>
